<header>
  <style>
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
</style>
</header>
<div class="content wrapper">
    
    <div class="small-wrapper">
      <div class="about-container">
        <section class="about-header">
          <div class="author-image-container">
            <a href='https://AURI-Kor.github.io'><img src=".//assets/img/Myself_Neon_grey.jpg" alt="TAEWON KIM"></a>
          </div>
          <h3 style="font-size: 40px;">TAEWON KIM</h3>
          <p class="subtitle" style=" font-size: 25px; font-weight:bold; font-family: Helvetica, Arial, sans-serif;">Avid learner with diverse interests in coding, machine learning, artificial intelligence and machine learning.</p>
          <br>
          <table style="margin:auto">
                
            <tr>
              <th width = "600px" style="text-align:center; background-color: darkslategrey; color: azure;"> Hard Skills </th>
              
            </tr>
            <tr>
              <th width = "600px" style=" background-color: rgba(31, 119, 146, 0.3); color: azure; margin-left: 20px;">
                <a style="font-size: 20px; color: azure; ">Data Analysis</a><br>
                <a style="text-align:left; font-size:small; color:rgb(0, 22, 0); font-family: 'Jeju Gothic', sans-serif;">python과 pandas, numpy, mathplotlib 등의 라이브러리를 활용한 데이터 분석 스킬</a>  <br>
                <a style="font-size: 20px; color: azure; ">Machine Learning</a><br>
                <a style="text-align:left; font-size:small;  color:rgb(0, 22, 0); font-family: 'Jeju Gothic', sans-serif; "> Python sklearn 라이브러리를 활용한 MLP, DT 및 Random Forest, AdaBoost 등 Ensemble model의 모델 학습</a> <br>
                <a style="font-size: 20px; color: azure; ">Back-end</a><br>
                <a style="text-align:left; font-size:small;  color:rgb(0, 22, 0); font-family: 'Jeju Gothic', sans-serif; "> Java 및 Spring 프레임워크를 이용한 기초적인 개발 능력 보유</a><br>
                <a style="font-size: 20px; color: azure; ">Front-end</a><br>
                <a style="text-align:left; font-size:small;  color:rgb(0, 22, 0); font-family: 'Jeju Gothic', sans-serif; "> HTML 태그와 구조 CSS 사용 방법 및 javascript 를 활용해 기초적인 수준의 디자인이 가능</a>
              </th>
            </tr>
            <tr>
              <th width = "600px" style="text-align:center; background-color: darkslategrey; color: azure;"> Soft Skills </th>
            </tr>
            <tr>
              <th width = "600px" style="text-align:center; background-color: rgba(31, 119, 146, 0.3); color: azure;">
                Soft Skills </th>
            </tr>
            <tr>
              <th width = "600px" style="text-align:center; background-color: darkslategrey; color: azure;"> Other Tools </th>
            </tr>
            <tr>          
              <th width = "600px" style="text-align:center; background-color: rgba(31, 119, 146, 0.3); color: azure;">
                Other Tools </th>
            </tr>
          </table>
        </section>
        <section class="about-body">
          <ul class="contact-list">
          
          
          
            <li class="github"><a class="github" href="https://github.com/AURI-Kor" target="_blank"><i class="fa fa-github"></i></a></li>
          
          
            <li class="email"><a class="email" href="mailto:frmisky@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
          
          
          
          </ul>
        </section> <!-- End About Body-->
      </div> <!-- End About Container -->
    </div> <!-- End Small Wrapper -->
    
      <div class="search-box">
      <div class="wrapper">
        <div class="search-grid">
          <form class="search-form">
            <div id="search-container">
              <input type="text" id="search-input" class="search" placeholder="Search">
            </div>
          </form>
          <ul id="results-container" class="results-search"></ul>
          <div class="icon-close-container">
            <span class="search-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
    
      <div class="pagination clearfix">
      
      
    </div>
    
      </div> <!-- End Wrapper -->